<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <marquee><center>
      <h1>Welcome to Sketch Maker</h1>
      
    </marquee>
    <center>
    <h4>Please upload an image </h4>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" accept="image/*" name="upload" >
      
      <input type="submit" value="Make Sketch">
    </form>
    <br>
    <br>
  </center>
  </div>

</main>

</body>

</html>